<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Crud cliente</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
	<!-- -barra de navegacion -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">
				<strong>EDWINRH-PROYECTO</strong>
                </a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<!-- ENLACE PARA MENU -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" th:href="@{/index}">INICIO
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/views/clientes/}">CLIENTES</a></li>

					</ul>

				</div>
			</div>
		</nav>


	</header>

	<!-- -contexto -->

	<div class="container"></div>

	<!-- -abajo- pie -->

	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

		<div class="container">
			<p>copyrigh javacode503 &copy; -2019</p>

		</div>

		<script type="text/javascript" th:src="@{js/jquery-3.4.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>


	</footer>

</body>
</html>